body {
	
    margin-top: -10px;
    padding-right: 0px;


}

* img{
	height: 200px;
	width: 100px;
	background-color: white;
	box-shadow: 0px 0px 0px white;
}

h1{
	padding: 30px 10px 5px;
	margin: auto;
	color: yellow;
	background-color: seagreen;
	height: 70px;

}
form{
	height: 100%;
	background-color: #b3b3b3;
}
label{
	color: blue;
	font: sans-serif;
}


ul   {
	color: white; 
	font-size: 20px;
    

}

 

nav li{
	display: inline;

}


h2{
	float: left;
	color: yellow;
	padding-left: 1%;

}
nav {
	float: right;
	padding-right: 5%;
	margin: auto;
	word-spacing: 4px;
	top: 0;


}


header{
	overflow: hidden;
	background-color:#3090C7;
	width: 100%;
	top: 0;
}
 
 ul a {
 	color: white;
 }

.container1{
	

	width: 100%;
	margin: 0;
	background: grey;
	overflow: auto;
	margin-top: -15px;
	margin-left: 0px;
	

}

.gallery1{
	border: 0px solid white;
	float: left;
	width: 380px;
}

.gallery1w{
	border: 0px solid white;
	float: left;
	width: 430px;
	margin-right: 20px;
}

.gallery1z{
	border: 0px solid white;
	float: left;
	width: 440px;
	margin-left: -19.8px;
}



.gallery1 img{
	width: 100%;
	height: 200px;
}
.gallery1w img{
	width: 100%;
	height: 200px;
}
.gallery1z img{
	width: 100%;
	height: 200px;
}

 
 .desc{
 	padding: 15px;
 	test-align: center;
 	font-size: 60px;
 	width: 150px;
 }

 .butd{
 	color: white;
 	background-color: blue;
 	font-size: 15px;
 	margin-left: 30%;
 	font: sans-serif;
 	width: 40%;

 }

 .butr{
 	color: blue;
 	background-color: orange;
 	font-size: 15px;
 	margin-left: 30%;
 	font: sans-serif;
 	width: 40%;
 }

 .buti{
 	color: white;
 	background-color: green;
 	font-size: 15px;
 	margin-left: 30%;
 	font: sans-serif;
 	width: 40%;
 }


  .gallery2{
	margin: 0px;
	border: 0px solid white;
	float: left;
	width: 380px;
}

.gallery2 img{
	width: 430px;
	height: 270px;
}

 .container2{
	width: 100%;
	margin: auto;
	background: white;
	overflow: auto;
	height: 280px;
}


